
body {
      margin: 0;
      height: 100vh;
      background: linear-gradient(135deg, #ec8db8, #fbdde7);
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
    }

    .card {
      background: white;
      width: 550px;
      padding: 30px 20px;
      border-radius: 20px;
      text-align: center;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
      position: relative;
    }

    .emoji {
      font-size: 60px;
      margin-bottom: 10px;
    }

    h2 {
      margin: 15px 0 25px;
    }

    .buttons {
      position: relative;
      height: 80px;
    }

    button {
      border-radius: 20px;
      border: none;
      font-size: 16px;
      cursor: pointer;
      position: absolute;
    }

    #yesBtn {
      background-color: #ff4d6d;
      color: white;
      left: 50%;
      transform: translateX(-100%);
      padding: 30px 40px;
    }

    #noBtn {
      background-color: #e0e0e0;
      color: black;
      left: 50%;
      transform: translateX(20px);
       padding: 10px 20px;   
    }

    .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 450px;
  animation: pop 0.3s ease;
}

.modal-content button {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #ff4d6d;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

@keyframes pop {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}




